html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* Add your styles below */

#p5-canvas {
  margin: 10px auto;
  width: 800px;
  height: 600px;
  border: 1px solid skyblue;
}
